{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}


<div class="container text-center">
    <h1>Welcome to the Home of Executive Photos</h1>

    <div class="row">
        {% for pic in Image %}
        <div class="col-4">
            <h4>{{pic.name}}</h4>

            
            <div data-toggle ="modal" data-target="#showPicModal{{pic.id}}">
                <img class="images" src="{{pic.image.url}}" alt="image1">
            </div>
            {{pic.location}}
        </div>

        <div class="modal fade" id="showPicModal{{pic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterName" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-name" id="modalPicName">{{pic.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="{{pic.image.url}}" class = "images"alt="{{pic.name}}">
                  <p class="text-centre">{{pic.description}}</p>
                  <div class="row">
                    <div class="col-md-6">
                        <p>Category: {{pic.category}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Location: {{pic.location}}</p>
                    </div>
                    
                  </div>
                  
                    <p>Date Posted: {{pic.created_at}}</p>
                
                </div>
                <div class="modal-footer">
                    <input class="form-control" type="text" value="{{pic.image.url}}" id="{{pic.id}}.url">
                    <button class="btn-btn-success">Copy link</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

    </div>

    
</div> <br><br>


<section class="footer">
  <div class="container-fluid" style="background-color: crimson">
      <footer class="text-center text-white">
          <div class="container-fluid">
              <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-3">
                      <p class="text-uppercase font-weight-bold">
                        <a href="mailto: kibiezekiel@gmail.com" target="_blank" class="text-white"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                      </p>
                    </div>
                    
                    <div class="col-md-3">
                      <p class="text-uppercase font-weight-bold">
                        <a href="http://wa.me/+254722991833" target="_blank" class="text-white"><i class="fab fa-whatsapp fa-2x"></i></i>
                        </a>
                      </p>
                    </div>
                   
                    <div class="col-md-3">
                      <p class="text-uppercase font-weight-bold">
                        <a href="https://twitter.com/KibiegoEzekiel" target="_blank" class="text-white"><i class="fab fa-twitter fa-2x"></i></i></a>
                      </p>
                    </div>
                    
                    <div class="col-md-3">
                      <p class="text-uppercase font-weight-bold">
                        <a href="https://www.facebook.com/kibiego.ezekiel.9" target="_blank" class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
                      </p>
                    </div>
                    
                  </div>
              </section>
              <section class="mb-5">
                  <div class="row d-flex justify-content-center">
                      <div class="col-lg-8">
                          
                      </div>
                  </div>
              </section>

          </div>

          <div class="" style="background-color: crimson">
              © 2021 Copyright:
              <a class="text-white" href="/">photos.com</a>
          </div> <br>

      </footer>

  </div>
</section>


{% endblock %}

